extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let costumesid = toShow._id
    - let costumes_type = toShow.costumes_type
    - let costumessize = toShow.size
    - let costumescost = toShow.cost
    - let actionid = "/resource/costumes/" + costumesid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{costumesid}
    form(id='CostumesForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.costumesAttr(for='costumes_type',class="col-form-label") costumes type
        div(class="col-auto")
          input#costumes_type(type='text', name='costumes_type',class="form-control", value=costumes_type)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.costumesAttr(for='size',class="col-form-label") costumes size
        div(class="col-auto")
          input#size(type='text', name='size',class="form-control", value=costumessize)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.costumesAttr(for='cost',class="col-form-label") costumes cost
        div(class="col-auto")
          input#cost(type='number', name='cost',class="form-control", value=costumescost)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
        
  script.
    document.forms['CostumesForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });