extends layout

block content
  h1= title
  //- - let items = ['costume_type','quantity','cost']
  - let items = results;
  - let o;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    a(class="btn btn-primary" href="/costumes/create") Create
    div(class='row m-1')
    div(class="row row-cols-1 row-cols-sm-4 g-6")
      each item, index in items
        - let destination = `dispatch(\"/costumes/update?id=${item._id}\")`
         - let details = `dispatch(\"/costumes/detail?id=${item._id}\")` 
         
        div(class="card text-white bg-secondary mb-3" class='col' class='card' class='card-body' class='card-text' onclick='buy('+index+')') Item #{item.costumes_type}(#{item.size})is #{item.cost}
          <br><br>
          
          span(class="btn btn-info", onclick= details) Details
          <br>
          a(class="btn btn-danger", href="/costumes/delete/?id="+item._id) Delete
          <br>

          button.btn( class="btn-success ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }