extends layout

block content
  h1= title
  //- - let items = ['costume_type','quantity','cost']
  - let items = results;
  - let o;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    div(class='row m-1')
    div(class="row row-cols-1 row-cols-sm-4 g-6")
      each item, index in items
        - let destination = `dispatch(\"/costumes/update?id=${item._id}\")`
        div(class="card text-white bg-secondary mb-3" class='col' class='card' class='card-body' class='card-text' onclick='buy('+index+')') Item #{item.costumes_type}(#{item.size})is #{item.cost}
          <br><br>
          button.btn( class="btn-danger ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }